<main>
  <div>
       <p>
        <%= @customer.last_name + @customer.first_name %>様
      </p>
       <p>
        <%= @customer.company %>
      </p>

<h1>配送先一覧</h1>
<%= link_to "新規配送先", new_customer_ship_address_path , class: :nav__btn %>
<div class="contents row">
  <% @ship_address.each do |ship_address| %>  
      <div class="more">
       <%# <span><%= image_tag 'arrow_top.png' %></span>
        <ul>
        <li>
          <%= link_to "詳細", customer_ship_address_path(@customer_id, ship_address.id), method: :get, class: :link__btn %>
        </li>
        </ul>
      </div>
      <% if ship_address.company == "" %>
      <p><%= ship_address.last_name + ship_address.first_name %></p>
      <% else %>
      <p><%= ship_address.company %></p>
      <% end %>
  
  <% end %>
  <div >
    <%= link_to "顧客詳細に戻る", customer_path(@customer.id), class: :prototype__btn %>
  </div>
</div>
</main>