
<table class="table">
  <thead class="thead-light">
    <tr>
      <th><%= link_to "編集", edit_customer_ship_address_path, method: :get, class: "btn btn-primary btn-sm" %>
          <%= link_to "削除", customer_ship_address_path, method: :delete, class: "btn btn-danger btn-sm" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">配送先番号</th>
      <td><%= @ship_address.ship_address_num %></td>
    </tr>
    <tr>
      <th scope="row">受け取り人</th>
      <td><%= @ship_address.last_name + @ship_address.first_name %></td>
    </tr>
    <tr>
      <th scope="row">会社名</th>
      <td><%= @ship_address.company %></td>
    </tr>
    <tr>
      <th scope="row">郵便番号</th>
      <td><%= @ship_address.post_code %> </td>
    </tr>
    <tr>
      <th scope="row">県</th>
      <td><%= @ship_address.place.name %></td>
    </tr>
    <tr>
      <th scope="row">市町村</th>
      <td><%= @ship_address.city %></td>
    </tr>
    <tr>
      <th scope="row">番地</th>
      <td><%= @ship_address.street_num %></td>
    </tr>
    <tr>
      <th scope="row">建物名</th>
      <td><%= @ship_address.building %></td>
    </tr>
    <tr>
      <th scope="row">電話番号</th>
      <td><%= @ship_address.tel %></td>
    </tr>
    <tr>
      <th scope="row">備考</th>
      <td><%=  @ship_address.memo %></td>
    </tr>
  </tbody>
</table>

<%= link_to "顧客詳細に戻る",customer_path(params[:customer_id]) %>
  
</main>