<main class="main">
  <div class="inner">
       <p class="-prototype__hedding">
        <%= @customer.last_name + @customer.first_name %>様
      </p>
       <p class="customer__hedding">
        <%= @customer.company %>
      </p>

      <div class="prototype__manage">
          <%= link_to "編集する", edit_customer_ship_address_path, method: :get, class: :prototype__btn %>
          <%= link_to "削除する", "", method: :delete, class: :prototype__btn %>
        </div>


   <div class="contents row">
 <div class="prototype__body">
        <div class="prototype__detail">
        <div class="contents row">
  

          <p class="detail__title">配送先詳細</p>
        </div>
        <div class="customer__detail">
          <P>配送先番号：</p><%= @ship_address.ship_address_num %>
        </div>
        <div class="customer__detail">
          <P>郵便番号：</p><%= @ship_address.post_code %>
        </div>
        <div class="customer__detail">
          <P>配送先：</p><%= @ship_address.place.name %>
        </div>
        <div class="customer__detail">
          <P><%= @ship_address.city + @ship_address.street_num %></P>
          <P><%= @ship_address.building %></P>
        </div>
        <div class="customer__detail">
          <P>会社名：</p><%= @ship_address.company %>
        </div>
        <div class="customer__detail">
          <P>受け取り人名：</p><%= @ship_address.last_name + @ship_address.first_name %>
        </div>
        <div class="customer__detail">
          <P>配送業者：</p><%= "" %>
        </div>
      <div class="prototype__detail">
      
    <div class="prototype__manage">
    <%= link_to "配送先一覧に戻る",customer_ship_addresses_path(params[:customer_id]) , class: :prototype__btn %>
   </div>
  </div>
</main>