<%= form_with model: @order, url: add_orders_path, local: true do |f| %>
<%= render 'shared/error_messages', model: f.object %>
  <div class="row">
    <div class="col-md-4 bg-secondary text-white border">注文番号</div>
    <div class="col-md-4 bg-secondary text-white border">購入者</div>
  </div>  
  <div class="row">
    <div class="col-md-4 m-2"><%= f.text_field :order_num, class: "form-control", placeholder: "注文番号", required: true %></div>
    <div class="col-md-4 m-2"><%= f.collection_select(:customer_id, Customer.all, :id, :company, {:include_blank => "購入者を選択してください"}, { class:"btn btn-outline-secondary dropdown-toggle dropdown-toggle-split", required: true}) %> </div>
  </div>  
  <div class="row">
    <div class="col-md-8 bg-secondary text-white border">商品検索</div>
  </div>  
  <div class="row" id= "items"> 
    <div class="item-field" id="item-field-">
      <div class="row" id="parent-div-">
        <div class="col-md-3 "><%= f.text_field :item_id, id: "item-name", class: "item-name", placeholder: "商品名を入力", autocomplete: "off", required: true %>
          <div class="row" id="search-result-"></div>
          <div class="row"><%= f.hidden_field :item_id, id: "item-id", name: "item_ids[]" %></div>
        </div> 
      </div>  
    </div>  
  </div>
  <div class="row" id="order_items">
    <div class="col-md-3 bg-secondary text-white border">商品番号</div>
    <div class="col-md-3 bg-secondary text-white border">商品名（キーワード入力）</div>
    <div class="col-md-3 bg-secondary text-white border">価格</div>
    <div class="col-md-2 bg-secondary text-white border">数量</div>
    <div class="col-md-1 bg-secondary text-white border">操作</div>
  </div>  

  <div class="row">
    <div class="col-md-3 bg-secondary text-white border">合計額</div>
  </div> 
    <div class="row">
      <div class="col-md-3 m-2">
        <%= f.text_field :price, placeholder: "商品の合計価格を入力", required: true %>
      </div>  
    </div>
    


  <div class="row">
    <div class="col-md-8 bg-secondary text-white border">配送先住所の選択</div>
  </div>  

  <div class="row"> 
    <%= f.collection_select(:ship_address_id, ShipAddress.all, :id, :company, {:include_blank => "配送先"}, { class:"btn btn-outline-secondary dropdown-toggle dropdown-toggle-split", required: true}) %> 
  </div>

  <div class="actions"><%= f.submit "保存する", class:"btn btn-primary m-2"%></div>

  <script>     
    jQuery(function() {

    //javascriptとJqueryのコンフリクトを防ぐため、$をjQueryとする
    //始めにjQueryで送信ボタンを無効化する
    jQuery('#submit').prop("disabled", true);
    
    //始めにjQueryで必須欄を加工する
    jQuery('form input:required').each(function () {
        jQuery(this).prev("label").addClass("text-danger");
    });
    
    //入力欄の操作時
    jQuery('form input:required').change(function () {
        //必須項目が空かどうかフラグ
        let flag = true;
        //必須項目をひとつずつチェック
        jQuery('form input:required').each(function(e) {
            //もし必須項目が空なら
            if (jQuery('form input:required').eq(e).val() === "") {
                flag = false;
            }
        });
        console.log(flag)
        //全て埋まっていたら
        if (flag) {
            //送信ボタンを復活
            jQuery('#submit').prop("disabled", false);
        }
        else {
            //送信ボタンを閉じる
            jQuery('#submit⁄').prop("disabled", true);
            }
        });
    });
    </script>  

<% end %>