<%= form_with model: @customer, url: customers_path, local: true do |f| %>

    <div class="row">
      <div class="col-md-4 bg-secondary text-white border">購入者名</div>
      <div class="col-md-6 bg-secondary text-white border">会社名</div>
    </div>  

    <div class="row mt-2 mb-2">
      <div class="col-md-2">
        <%= f.text_field :last_name, class: "form-control", placeholder: "姓" %>
      </div>
      <div class="col-md-2">
        <%= f.text_field :first_name, class: "form-control", placeholder: "名" %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :company, class: "form-control", placeholder: "ない場合は担当者名などを記入してください" %>
      </div>
    </div>  

    <div class="row">
      <div class="col-md-3 bg-secondary text-white border">郵便番号</div>
    </div>

    <div class="row mt-2 mb-2">
      <div class="col-md-3">
        <%= f.text_field :post_code, class: "form-control", placeholder: "ハイフンなし" %>
      </div>
    </div>  

    <div class="row">
      <div class="col-md-3 bg-secondary text-white border">都道府県</div>
      <div class="col-md-3 bg-secondary text-white border">市町村</div>
      <div class="col-md-6 bg-secondary text-white border">番地</div>
    </div>

    <div class="row mt-2 mb-2">
      <div class="col-md-3">
        <%= f.collection_select(:place_id, Place.all, :id, :name, {:include_blank => "選択"}, { class:"btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"}) %> 
      </div>
      <div class="col-md-3">
      <%= f.text_field :city, class: "form-control", placeholder: "例）港区" %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :street_num, class: "form-control", placeholder: "例）１丁目" %>
      </div>
    </div>  


    <div class="row">
        <div class="col-md-6 bg-secondary text-white border">建物名</div>
    </div>

    <div class="row mt-2 mb-2">
      <div class="col-md-6">
        <%= f.text_field :building, class: "form-control", placeholder: "例）OOビル１F" %>
      </div>
    </div>

    <div class="row">
        <div class="col-md-4 bg-secondary text-white border">電話番号</div>
        <div class="col-md-6 bg-secondary text-white border">E-mail</div>
    </div>

    <div class="row mt-2 mb-2">
      <div class="col-md-4">
        <%= f.text_field :tel, class: "form-control", placeholder: "ハイフン無し" %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :email, class: "form-control", placeholder: "例）OO@mail.com" %>
      </div>   
    </div>

    <div class="row">
      <div class="col-md-8 bg-secondary text-white border">備考</div>
    </div>

    <div class="row mt-2 mb-2">
      
      <div class="col-md-8">
        <%= f.text_area :memo, class: "form-control", autocomplete: "off", placeholder: "備考を記入" %>
      </div>
    </div>  

    <div class="row mt-2">
      <div class="actions">
        <%= f.submit "保存する", class: "btn btn-primary"  %>
      </div>
    </div>  
<% end %>