<%= form_with(model: @customer, local: true) do |f|%>

  <div class="field">
    <%= f.label :name, "顧客名" %><br />
    <%= f.text_field :name, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :post_code, "郵便番号" %><br />
    <%= f.text_field :post_code_1, class: :form__post1 %>ー
    <%= f.text_field :post_code_2, class: :form__post2 %>
  </div>

  <div class="field">
    <%= f.label :prefecture, "県を入力" %><br />
    <%= f.text_field :prefecture, class: :form__address %>
  </div>

  <div class="field">
    <%= f.label :address_1, "市" %><br />
    <%= f.text_field :address_1, class: :form__address%>
  </div>
  
  <div class="field">
    <%= f.label :address_2, "丁・番地" %><br />
    <%= f.text_field :address_2, class: :form__text%>
  </div>

   <div class="field">
    <%= f.label :address_3, "建物名" %><br />
    <%= f.text_field :address_3, class: :form__text%>
  </div>

  <div class="field">
    <%= f.label :tel_num, "電話番号" %><br />
    <%= f.text_field :tel_num, class: :form__text%>
  </div>

  <div class="field">
    <%= f.label :email, "mail" %><br />
    <%= f.text_field :email, class: :form__text%>
  </div>

     <div class="field">
    <%= f.label :memo, "メモ" %><br />
    <%= f.text_area :memo, class: :form__text%>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>