<div class="container">
  <div class="inner">
       <% if user_signed_in? %>
        <div class="greeting"> 
        こんにちは、
        <%= link_to current_user.last_name + current_user.first_name , root_path, class: :greeting__link%>
        さん
        </div>
        <% end %>

<h1>顧客一覧</h1>
<%= link_to "新規顧客", new_customer_path , class: "btn btn-outline-primary m-2" %>
<table class="table table-sm table-bordered">
  <thead class="thead-light">
    <tr>
    <th style="width: 50px">詳細</th>
    <th style="width: 10vw">顧客名</th>
    <th style="width: 10vw">会社名</th>
    <th style="width: 10vw">注文数（進行中）</th>
    </tr>
  </thead>
  <% @customer.each do |customer| %>  
   <tbody>
    <tr>
      <td><%= link_to "詳細", customer_path(customer.id), method: :get, class: "btn btn-primary btn-sm" %></td>
      <td><%= customer.last_name + customer.first_name %></td>
      <td><%= customer.company %></td>
      <td><%= "1" %></td>
    </tr>
  </tbody>
  <% end %>
</table>


</main>
