<div class="container">
<table class="table">
  <thead class="thead-light">
    <tr>
      <th><%= link_to "編集", edit_customer_path(@customer.id), method: :get, class: "btn btn-primary btn-sm" %>
          <%= link_to "削除", customer_path(@customer.id), method: :delete, class: "btn btn-danger btn-sm" %></th>
      <th><%= link_to "新規配送先", new_customer_ship_address_path(@customer.id), method: :get, class: "btn btn-primary btn-sm" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">購入者名</th>
      <td><%= @customer.last_name + @customer.first_name %> 様</td>
    </tr>
    <tr>
      <th scope="row">会社名</th>
      <td><%= @customer.company %></td>
    </tr>
    <tr>
      <th scope="row">郵便番号</th>
      <td><%= @customer.post_code %> </td>
    </tr>
    <tr>
      <th scope="row">県名</th>
      <td><%= @customer.place.name %></td>
    </tr>
    <tr>
      <th scope="row">市町村</th>
      <td><%= @customer.city %></td>
    </tr>
    <tr>
      <th scope="row">番地</th>
      <td><%= @customer.street_num %></td>
    </tr>
    <tr>
      <th scope="row">建物名</th>
      <td><%= @customer.building %></td>
    </tr>
    <tr>
      <th scope="row">電話番号</th>
      <td><%= @customer.tel %></td>
    </tr>
    <tr>
      <th scope="row">Eメール</th>
      <td><%= @customer.email %></td>
    </tr>
    <tr>
      <th scope="row">備考</th>
      <td><%= @customer.memo %></td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th><h2>配送先一覧</h2></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @ship_addresses.each do |s| %>
    <tr>
    <td><%= link_to s.ship_address_num, "#{s.customer_id}/ship_addresses/#{s.id}", method: :get, class: "btn-secondary btn-sm" %></td>       
    </tr>
    <% end %>
  </tbody>  
</table>  
</div>
