    
<div class="col-md-4 ">
<%= search_form_for @p, url: items_search_orders_path do |f| %>
<%= f.search_field :name, class: "form-control", placeholder: "商品コードで検索" %></div>
<%= f.submit "検索", class: "btn btn-outline-primary my-2 my-sm-0" %>
<% end %>

<%= form_with model: @order, url: orders_path, local: true do |f| %>
  <div class="row">
    <div class="col-md-4 bg-secondary text-white border">注文番号</div>
    <div class="col-md-4 bg-secondary text-white border">購入者</div>
  </div>  
  <div class="row">
    <div class="col-md-4 "><%= f.text_field :order_num, class: "form-control", placeholder: "注文番号" %></div>
    <div class="col-md-4 "><%= f.collection_select(:customer_id, Customer.all, :id, :company, {:include_blank => "購入者を選択してください"}, { class:"btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"}) %> </div>
  </div>  
  <div class="row">
    <div class="col-md-8 mt-2 bg-secondary text-white border">発注商品</div>
  </div>
  <div class="row">
    <nav class="navbar navbar-light bg-light">
    
    </nav>
  </div>  

  
  <P>ーーーー商品１ーーーーー</p>
  
  <P>商品１（選択してください）</p>
  <div class="field"> 
  <%= f.collection_select(:item_id, Item.all, :id, :formatted_name, {}, { name: "item_ids[]", class:"place-select"}) %> 
  </div>

  <P>単価1</p>
  単価を表示

  <P>数量1（数量を入力してください）</p>
  <div class="field">
    <input name = "purchase_nums[]", type = "text" />
  </div>

  <P>ーーーー商品2ーーーーー</p>
  <P>商品2（選択してください）</p>
  <div class="field"> 
  <%= f.collection_select(:item_id, Item.all, :id, :formatted_name, {}, { name: "item_ids[]", class:"place-select"}) %> 
  </div>

  <P>単価2</p>
  単価を表示

   <P>数量2（数量を入力してください）</p>
  <div class="field">
    <input name = "purchase_nums[]", type = "text" />
  </div>

   <P>ーーーー商品3ーーーーー</p>
   <P>商品3（選択してください）</p>
  <div class="field"> 
   <%= f.collection_select(:item_id, Item.all, :id, :formatted_name, {}, { name: "item_ids[]", class:"place-select"}) %> 
  </div>

  <P>単価3</p>
  単価を表示

   <P>数量3（数量を入力してください）</p>
  <div class="field">
    <input name = "purchase_nums[]", type = "text" />
  </div>

   <P>ーーーー商品4ーーーーー</p>
   <P>商品4（選択してください）</p>
  <div class="field"> 
   <%= f.collection_select(:item_id, Item.all, :id, :formatted_name, {}, { name: "item_ids[]", class:"place-select"}) %> 
  </div>

  <P>単価4</p>
  単価を表示

   <P>数量4（数量を入力してください）</p>
  <div class="field">
    <input name = "purchase_nums[]", type = "text" />
  </div>

   <P>ーーーー商品5ーーーーー</p>
   <P>商品5（選択してください）</p>
  <div class="field"> 
   <%= f.collection_select(:item_id, Item.all, :id, :formatted_name, {}, { name: "item_ids[]", class:"place-select"}) %> 
  </div>

  <P>単価5</p>
  単価を表示

   <P>数量5（数量を入力してください）</p>
  <div class="field">
    <input name = "purchase_nums[]", type = "text" />
  </div>

   <P>ーーーー合計額ーーーーー</p>

  <div class="field">
    <%= f.label :price, "価格" %><br />
    <%= f.text_field :price %>
  </div>


  <div class="row">
    <div class="col-md-12 border">配送先住所の入力</div>
  </div>  
  <div class="row">
    <div class="col-md-4 bg-secondary text-white border">配送先番号</div>
    <div class="col-md-4 bg-secondary text-white border">配送先名</div>
    <div class="col-md-4 bg-secondary text-white border">会社名</div>
  </div>
  <div class="row">
    <div class="col-md-4"><%= f.text_field :ship_address_num, class: "form-control", placeholder: "配送先番号" %></div>
    <div class="col-md-2"><%= f.text_field :last_name, class: "form-control", placeholder: "姓" %></div>
    <div class="col-md-2"><%= f.text_field :first_name, class: "form-control", placeholder: "名" %></div>
    <div class="col-md-4"><%= f.text_field :company, class: "form-control", placeholder: "会社名" %></div>
  </div> 
   <div class="row">
    <div class="col-md-2 mt-2 bg-secondary text-white border">郵便番号</div>
    <div class="col-md-10 mt-2 bg-secondary text-white border">配送先住所</div>
  </div>
  <div class="row">
    <div class="col-md-2"><%= f.text_field :post_code, class: "form-control", placeholder: "ハイフン無し" %></div>
    <div class="col-md-2"><%= f.collection_select(:place_id, Place.all, :id, :name, {:include_blank => "都道府県"}, { class:"btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"}) %> </div>
    <div class="col-md-2"><%= f.text_field :city, class: "form-control", placeholder: "市町村" %></div>
    <div class="col-md-6"><%= f.text_field :street_num, class: "form-control", placeholder: "番地" %></div>
  </div> 
  <div class="row">
    <div class="col-md-6 mt-2 bg-secondary text-white border">建物名</div>
    <div class="col-md-3 mt-2 bg-secondary text-white border">電話番号</div>
    <div class="col-md-3 mt-2 bg-secondary text-white border">E-mail</div>

  </div>
  <div class="row">
    <div class="col-md-6"><%= f.text_field :building, class: "form-control", placeholder: "任意" %></div>
    <div class="col-md-3"><%= f.text_field :tel, class: "form-control", placeholder: "OOO-OOOO-OOOO" %></div>
    <div class="col-md-3"><%= f.text_field :email, class: "form-control", placeholder: "任意" %></div>
  </div> 
  <div class="row">
    <div class="col-md-6 mt-2 bg-secondary text-white border">備考</div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-2"><%= f.text_area :tel, class: "form-control", placeholder: "備考" %></div>
    <div class="actions"><%= f.submit "保存する", class: "btn btn-primary" %></div>
  </div>  
  </form>
<% end %>