<%= form_with(model: @order, local: true) do |f|%>
  <div class="field">
    <%= f.label :order_num, "注文番号" %><br />
    <%= f.text_field :order_num %>
  </div>

  <div class="field">
    <%= f.label :item_code, "商品コード" %><br />
    <%= f.text_field :item_code, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :purchase_num, "数量" %><br />
    <%= f.text_field :purchase_num, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :price_one, "単価" %><br />
    <%= f.text_field :price_one, class: :form__text%>
  </div>
  
  <div class="field">
    <%= f.label :purchase_memo, "メモ" %><br />
    <%= f.text_area :purchase_memo, class: :form__text%>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>