<%= form_with model: @order, local: true do |f| %>
   <P>商品（選択してください）</p>
  <div class="field"> 
   <%= f.collection_select(:item_id, Item.all, :id, :formatted_name, {}, {  name: "order[item_id]", class:"place-select"}) %> 
  </div>


  <div class="field">
    <%= f.label :purchase_num, "数量" %><br />
    <%= f.text_field :purchase_num %>
  </div>



<div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>