<%= form_with model: @order, url: orders_path, local: true do |f| %>
  <div class="row">
    <div class="col-md-4 bg-secondary text-white border">注文番号</div>
    <div class="col-md-4 bg-secondary text-white border">購入者</div>
  </div>  
  <div class="row">
    <div class="col-md-4 m-2"><%= f.text_field :order_num, class: "form-control", placeholder: "注文番号" %></div>
    <div class="col-md-4 m-2"><%= f.collection_select(:customer_id, Customer.all, :id, :company, {:include_blank => "購入者を選択してください"}, { class:"btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"}) %> </div>
  </div>  
  <div class="row">
    <div class="col-md-8 bg-secondary text-white border">商品検索</div>
  </div>  
  <div class="row" id= "items"> 
    <div class="item-field" id="item-field-">
      <div class="row" id="parent-div-">
        <div class="col-md-3"><%= f.text_field :item_id, id: "item-name", class: "item-name", placeholder: "商品名を入力", autocomplete: "off" %>
          <div class="row" id="search-result-"></div>
          <div class="row"><%= f.hidden_field :item_id, id: "item-id", name: "item_ids[]" %></div>
        </div> 
      </div>  
    </div>  
  </div>
  <div class="row" id="order_items">
    <div class="col-md-3 bg-secondary text-white border">商品番号</div>
    <div class="col-md-3 bg-secondary text-white border">商品名（キーワード入力）</div>
    <div class="col-md-3 bg-secondary text-white border">価格</div>
    <div class="col-md-2 bg-secondary text-white border">数量</div>
    <div class="col-md-1 bg-secondary text-white border">操作</div>
  </div>  

  <div class="row">
    <div class="col-md-3 bg-secondary text-white border">合計額</div>
  </div> 
    <div class="row">
      <div class="col-md-3 m-2">
        <%= f.text_field :price, class: "form-control", placeholder: "合計価格を入力" %>
      </div>
    </div>
    
  





  


  <div class="row">
    <div class="col-md-12 border">配送先住所の入力</div>
  </div>  
  <div class="row">
    <div class="col-md-4 bg-secondary text-white border">配送先番号</div>
    <div class="col-md-4 bg-secondary text-white border">配送先名</div>
    <div class="col-md-4 bg-secondary text-white border">会社名</div>
  </div>
  <div class="row">
    <div class="col-md-4"><%= f.text_field :ship_address_num, class: "form-control", placeholder: "配送先番号" %></div>
    <div class="col-md-2"><%= f.text_field :last_name, class: "form-control", placeholder: "姓" %></div>
    <div class="col-md-2"><%= f.text_field :first_name, class: "form-control", placeholder: "名" %></div>
    <div class="col-md-4"><%= f.text_field :company, class: "form-control", placeholder: "会社名" %></div>
  </div> 
   <div class="row">
    <div class="col-md-2 mt-2 bg-secondary text-white border">郵便番号</div>
    <div class="col-md-10 mt-2 bg-secondary text-white border">配送先住所</div>
  </div>
  <div class="row">
    <div class="col-md-2"><%= f.text_field :post_code, class: "form-control", placeholder: "ハイフン無し" %></div>
    <div class="col-md-2"><%= f.collection_select(:place_id, Place.all, :id, :name, {:include_blank => "都道府県"}, { class:"btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"}) %> </div>
    <div class="col-md-2"><%= f.text_field :city, class: "form-control", placeholder: "市町村" %></div>
    <div class="col-md-6"><%= f.text_field :street_num, class: "form-control", placeholder: "番地" %></div>
  </div> 
  <div class="row">
    <div class="col-md-6 mt-2 bg-secondary text-white border">建物名</div>
    <div class="col-md-3 mt-2 bg-secondary text-white border">電話番号</div>
    <div class="col-md-3 mt-2 bg-secondary text-white border">E-mail</div>

  </div>
  <div class="row">
    <div class="col-md-6"><%= f.text_field :building, class: "form-control", placeholder: "任意" %></div>
    <div class="col-md-3"><%= f.text_field :tel, class: "form-control", placeholder: "OOO-OOOO-OOOO" %></div>
    <div class="col-md-3"><%= f.text_field :email, class: "form-control", placeholder: "任意" %></div>
  </div> 
  <div class="row">
    <div class="col-md-6 mt-2 bg-secondary text-white border">備考</div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-2"><%= f.text_area :tel, class: "form-control", placeholder: "備考" %></div>
    <div class="actions"><%= f.submit "保存する", class: "btn btn-primary" %></div>
  </div>  
  </form>
<% end %>