<div class="container">
  <div class="inner">
       <% if user_signed_in? %>
        <div class="greeting"> 
        こんにちは、
        <%= link_to current_user.last_name + current_user.first_name , root_path, class: :greeting__link%>
        さん
        </div>
        <% end %>

<h1>注文一覧</h1>
<%= link_to "新規注文", new_order_path, class: "mb-2 btn btn-outline-primary" %>
<%= link_to "既存客注文", new_add_order_path, class: "mb-2 btn btn-outline-primary" %>
<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
    <th style="width: 80px">詳細</th>
    <th style="width: 50wh">注文番号</th>
    <th style="width: 50wh">購入者</th>
    <th style="width: 50wh">会社名</th>
    <th style="width: 50wh">品目数</th>
    <th style="width: 50wh">請求額</th>
    </tr>
  </thead>
  <% @order.each do |order| %>  
  <tbody>
    <tr>
      <td><%= link_to "詳細", order_path(order.order_num), method: :get, class: "btn btn-primary btn-sm" %></td>
      <td><%= order.order_num %></td>
        <% if order.customer.nil? %>
          <td>購入者情報が存在しません</td>
          <td>会社情報が存在しません</td>
        <% else %>
          <td><%= order.customer.last_name + order.customer.first_name %></td>
          <td><%= order.customer.company %></td>
        <% end %>  
          <td><%= "java" %></td>
          <td><%= "java" %></td>
          <td><%= "java" %></td>

      
    </tr>
  </tbody>
  <% end %>
</table>
</div>
