<main class="main">
  <div class="inner">
       <% if user_signed_in? %>
        <div class="greeting"> 
        こんにちは、
        <%= link_to current_user.last_name + current_user.first_name , root_path, class: :greeting__link%>
        さん
        </div>
        <% end %>

<h1>注文一覧</h1>
<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
    <th>詳細</th>
      <th>注文番号</th>
      <th>購入者</th>
      <th>会社名</th>
      <th>品目数</th>
      <th>請求額</th>

    </tr>
  </thead>
  <% @order.each do |order| %>  
  <tbody>
    <tr>
      <td><%= link_to "詳細", order_path(order.id), method: :get, class: "btn btn-primary btn-sm" %></td>
      <td><%= order.order_num %></td>
      <td><%= order.customer.last_name + order.customer.first_name %></td>
      <td><%= order.customer.company %></td>
      <td><%= "java" %></td>
      <td><%= "java" %></td>
      <td><%= "java" %></td>
      
    </tr>
  </tbody>
  <% end %>
</table>
</main>
