<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="-prototype__hedding">
        <%# <%= order.customer.last_name + order.customer.first_name %> %>
      </p>
      <p class="customer__hedding">
        <%= ""%>
      </p>

      
      <%= link_to "by プロトタイプの投稿者", root_path, class: :prototype__user %>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_order_path, method: :get, class: :prototype__btn %>
          <%= link_to "削除する", order_path, method: :delete, class: :prototype__btn %>
        </div>
      <h1>注文詳細</h1>
      <p>注文番号: <%= %></p>
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>操作</th>
            <th>商品コード</th>
            <th>商品名</th>
            <th>数量</th>
            <th>単価</th>
            <th>金額</th>
          </tr>
        </thead>
        <% @order.each do |order| %>  
        <tbody>
          <tr>
            <td><%= link_to "変更", edit_order_path(order.id), method: :get, class: "btn btn-primary btn-sm" %>
                <%= link_to "削除", order_path(order.id), method: :delete, class: "btn btn-danger btn-sm" %></td>
            <td><%= order.item.code %></td>    
            <td><%= order.item.name %></td>
            <td><%= order.purchase_num %></td>
            <td><%= order.item.price %></td>
            <td><%= order.purchase_num * order.item.price %></td>
          </tr>  
        </tbody>
        <% end %>
      </table>

      <div class="prototype__manage">
        <%= link_to "一覧に戻る", orders_path, class: :prototype__btn %>
      </div>
        
</main>
