<%= form_with model: @item, url: items_path, local: true do |f| %>

<div class="item_regi">
    <div class="row">
      <div class="col-md-2 bg-secondary text-white border">商品コード</div>
      <div class="col-md-6 bg-secondary text-white border">商品名</div>
    </div>  

    <div class="row mt-2 mb-2">
      <div class="col-md-2">
        <%= f.text_field :code, class: "form-control", autocomplete: "off", placeholder: "例）A-0000" %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :name, class: "form-control", autocomplete: "off", placeholder: "例）商品A" %>
      </div>
    </div>  

    <div class="row">
      <div class="col-md-2 bg-secondary text-white border">商品単価</div>
      <div class="col-md-2 bg-secondary text-white border">カラー</div>
      <div class="col-md-2 bg-secondary text-white border">サイズ</div>
      <div class="col-md-2 bg-secondary text-white border">在庫</div>
    </div>

    <div class="row mt-2 mb-2">
      <div class="col-md-2">
        <%= f.text_field :price, class: "form-control", autocomplete: "off", placeholder: "0" %>
      </div>
      <div class="col-md-2">
        <%= f.text_field :color, class: "form-control", autocomplete: "off", placeholder: "例）ブラック" %>
      </div>
      <div class="col-md-2">
        <%= f.text_field :size, class: "form-control", autocomplete: "off",placeholder: "例）S" %>
      </div>
      <div class="col-md-2">
        <%= f.text_field :stock_num, class: "form-control", autocomplete: "off", placeholder: "0" %>
      </div>
    </div>

    <div class="row ">
      
      <div class="col-md-4 bg-secondary text-white border">備考</div>
    </div>

    <div class="row mt-2 mb-2">
      
      <div class="col-md-4">
        <%= f.text_area :memo, class: "form-control", autocomplete: "off", placeholder: "備考を記入" %>
      </div>
    </div>  

    <div class="row mt-2">
      <div class="actions">
        <%= f.submit "保存する", class: "btn btn-primary"  %>
      </div>
    </div>  
</div>
<% end %>