<div class="container">
    <% if user_signed_in? %>
      <div> 
        こんにちは、
        <%= link_to current_user.last_name + current_user.first_name , root_path%>
        さん
      </div>
    <% end %>

<h1>商品一覧</h1>
<%= link_to "新規商品", new_item_path, class: "btn btn-outline-primary m-2" %>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th style="width: 50px">詳細</th>
      <th style="width: 10vw">商品コード</th>
      <th style="width: 10vw" >商品名</th>
      <th style="width: 10vw">サイズ</th>
      <th style="width: 10vw">カラー</th>
      <th style="width: 10vw">単価</th>
      <th style="width: 10vw">在庫数</th>
    </tr>
  </thead>
  <% @item.each do |item| %> 
  <tbody>
    <tr>
      <td><%= link_to "詳細", item_path(item.id), method: :get, class: "btn btn-primary btn-sm" %></td>
      <td><%= item.code %></td>
      <td><%= item.name%></td>
      <td><%= item.size %></td>
      <td><%= item.color %></td>
      <td><%= item.price %></td>
      <td><%= item.stock_num %></td>
    </tr>
  </tbody>
  <% end %>
</table>
</main>
