
<div class="container">
<table class="table">
  <thead class="thead-light">
    <tr>
      <th><%= link_to "編集", edit_item_path, method: :get, class: "btn btn-primary btn-sm" %>
          <%= link_to "削除", item_path, method: :delete, class: "btn btn-danger btn-sm" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">商品番号</th>
      <td><%= @item.code %></td>
    </tr>
    <tr>
      <th scope="row">商品名</th>
      <td><%= @item.name %></td>
    </tr>
    <tr>
      <th scope="row">単価</th>
      <td><%= @item.price %></td>
    </tr>
    <tr>
      <th scope="row">カラー</th>
      <td><%= @item.color %> </td>
    </tr>
    <tr>
      <th scope="row">サイズ</th>
      <td><%= @item.size %></td>
    </tr>
    <tr>
      <th scope="row">在庫</th>
      <td><%= @item.stock_num %></td>
    </tr>
    <tr>
      <th scope="row">備考</th>
      <td><%= @item.memo %></td>
    </tr>
  </tbody>
</table>

<%= link_to "商品一覧に戻る",items_path %>
  
</div>