<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ds_order_management_system</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="nav justify-content-center">
        <div class="nav-item">
          <div class="nnav-link">
            <%# <%= link_to image_tag("logo.png" ), root_path %> 
          </div>
          <%# ログインしているとき %>
          <% if user_signed_in? %> 
            <div class= "btn-group" role="group" aria-label="Basic example" >
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-secondary" %>
              <%= link_to "商品一覧", items_path, class: "btn btn-secondary"%>
              <%= link_to "顧客一覧", customers_path, class: "btn btn-secondary"%>
              <%= link_to "注文一覧", orders_path, class: "btn btn-secondary"%>
            </div>
            <% else %>
          <%# ログインしていないとき %>
            <div class= "btn-group" role="group" aria-label="Basic example">
              <%= link_to "ログイン", new_user_session_path, class: "btn btn-secondary"%>
              <%= link_to "新規登録", new_user_registration_path, class: "btn btn-secondary" %>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    
    <%= yield %>
    <footer class="footer" text-align="center">
      <p>Copyright © DS ORDER MANAGEMENT SYSTEM All rights reserved.</p>
    </footer>
  </body>
</html>
